section.hero.is-primary.is-medium.is-bold.has-text-centered
  .hero-body
    h1.title Hi I am Ashish Patel.
section.hero
  .hero-content
    .columns
      .column
        .hero-body
          .container
            h2.subtitle Experiment
            p This is a cool experiment.
            