section.hero.is-dark.has-text-centered.weatherhero.is-bold
  .hero-body.container
    .card.card-content.is-paddingless
      .content
        .columns
          .column.tempcolumn.has-text-left
            p.subtitle#date
            h1.title.is-paddingless.is-marginless.temp.is-1
            p.subtitle.is-paddingless.is-marginless#city
            p.subtitle.is-paddingless.is-marginless#main
          .column.is-two-thirds.detailscolumn
            .tabs.is-centered.is-boxed
              ul
                li.is-active
                  a
                    span.icon.is-small
                      i.fa.fa-image
                    span Pictures
                li
                  a
                    span.icon.is-small
                      i.fa.fa-music
                    span Music
                li
                  a
                    span.icon.is-small
                      i.fa.fa-film
                    span Videos
                li
                  a
                    span.icon.is-small
                      i.fa.fa-file-text-o
                    span Documents




